extends layout

block content
  h1= title
  p Welcome to WS
  div(id='messageList')
  form(id='message-form')
    input(type='text' id='chat-message')
    input(type='submit' value='Send')
  script.
   cleanConnections();
   var chatClient = new ChatClient(true)
   $('#message-form').submit(function(){
    var message = $('#chat-message').val()
    chatClient.publish({message: message})
    this.reset()
    return false
   })
   chatClient.subscribe(function(data){
   console.log(data.message)
   var newMessage = $('<p></p>').html(data.message)
   $('#messageList').append(newMessage)
   })
   $('#chat-message').focus()